numpy>=1.20.0
pygame>=2.0.1
PyOpenGL>=3.1.5
cupy-cuda11x>=10.4.0; platform_system != "Darwin"
pyusb>=1.2.1
cryptography>=36.0.0
pillow>=9.0.0
keyboard>=0.13.5
mouse>=0.7.1
pytest>=7.0.0
PyQt5>=5.15.6
pysdl2>=0.9.7
psutil>=5.9.0
requests>=2.27.1 